*{
    box-sizing: border-box;
}
.heading{
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
    
}
.navigation{
    background-color:#030303;
    overflow: hidden;
    
}
.navigation a{
    float: left;
    color:#f2f2f2;
    text-decoration: none;
   display: block;
    padding: 14px 16px;
    text-align: center;
    
}
.navigation a:hover{
    background-color: dimgray;
    color:black;
}
.column{
float: left;
    padding: 10px;
}
.side{
    width:25%;
    
}
.middle{
    width:50%;
    
}
.middle.column h2{
    color:darkslategray;
    text-align: center;
    letter-spacing: 2px;
    font-family: monospace;
    font-size: 31px;
}
.middle.column p{
    color: dimgrey;
    letter-spacing: 1px;
    font-family: cursive;
    font-size: 15px;
    text-align: center;
}
.side.column h3,p,img{
    
    text-align: center;
    font-family: serif;
    letter-spacing: 1px;
}
.side.column img{
    border: 10px double  darkgray;
    margin:5px;
    padding: 0px;
   border-style:;
}
.side.column>.special_offer{
    text-shadow: 1px 1px crimson;
    color: aqua;
}